<p>competition-edit works!</p>
<ng-container *ngIf="comp$ | async as comp">
  <div *ngFor="let platform of comp.platforms">
    <button mat-raised-button (click)="editPlatform(platform)">Edit</button>
  </div>
</ng-container>

<pre *ngIf="comp$ | async as comp">{{ comp | json }}</pre>
