.fixed-topnav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100% !important;
}
.main-container {
  padding: 10px;
  // @media screen and (max-width:1024px){
  //   padding: 10px;
  // }
  // @media screen and (min-width : 1025px){
  //   padding: 10px 30px;
  // }
}
