<pc-side-nav [navItems]="navItems" [appName]="title">
  <pc-header [appName]="title" class="fixed-topnav">
    <pc-language-selector></pc-language-selector>
  </pc-header>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</pc-side-nav>
