<div>
  <button mat-button [matMenuTriggerFor]="menu">
    <ng-container *ngIf="selected$ | async as selected">
      <span>{{ selected.language }}</span>
      <span
        style="margin-left: 5px;"
        [class]="'flag-icon flag-icon-' + selected.flag"
      ></span>
    </ng-container>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let code of langs$ | async"
      (click)="languageService.setLanguage(code)"
    >
      <span>{{ code.language }}</span>
      <span
        style="margin-left: 5px;"
        [class]="'flag-icon flag-icon-' + code.flag"
      ></span>
    </button>
  </mat-menu>
</div>
