<div>
  <button mat-raised-button (click)="add()">
    {{ "generic.button.add" | translate | titlecase }}
  </button>
</div>
<div class="container">
  <div
    *ngFor="let comp of competitions$ | async"
    (click)="click(comp.id)"
    class="mat-elevation-z1"
    pcHoverClass
    [classes]="hoverClasses"
  >
    <h2>{{ comp.name }}</h2>
  </div>
</div>
