<pc-generic-edit-dialog [parent]="model">
  <div [formGroup]="form" style="display: flex; flex-direction: column;">
    <mat-form-field>
      <mat-label>{{ "compeition.name" | translate | titlecase }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "compeition.city" | translate | titlecase }}</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "compeition.location" | translate | titlecase }}</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>
  </div>
</pc-generic-edit-dialog>
