<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  {{ data.message }}
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">
    {{ "generic.button.yes" | translate | titlecase }}
  </button>
  <button mat-button [mat-dialog-close]="false">
    {{ "generic.button.cancel" | translate | titlecase }}
  </button>
</mat-dialog-actions>
