<div *ngIf="visible$ | async" class="top-menu">
  <mat-toolbar>
    <button
      mat-flat-button
      matTooltip="{{ 'menu.tooltip' | translate }}"
      color="primary"
      (click)="toggleExpanded()"
    >
      {{ "generic.button.menu" | translate | titlecase }}
    </button>
    <a mat-button class="app-name" routerLink="/">
      {{ appName }}
    </a>
    <span style="flex: 1 1 auto;"></span>
    <ng-content> </ng-content>
  </mat-toolbar>
</div>
